.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.5em 1em;
    color: white;
    background-color: #3c4a3c;
}

.appHeader h1 {
    margin: 0;
    padding: 0;
}

.appHeader a {
    color: white;
    text-decoration: none;
}

.appHeader a:hover {
    text-decoration: underline;
}